@use "../abstracts/index" as *;

.app__wrapper {
  padding: 2.4rem 2rem;
  max-width: $content-width;
  margin: auto;
  text-align: center;
  min-height: 100vh;
  @include flex($direction: column);
}
