@use "../abstracts/index" as *;

.game {
  margin-top: 15px;
  width: 100%;
  flex-grow: 1;
  @include flex($gap: 20px);
  @include media-small-device {
    @include flex($direction: column);
  }
}

.game__levels,
.game__buttons {
  width: 25%;
  @include flex($direction: column, $justify: center, $align: center);
}

.game__main {
  position: relative;
  flex-grow: 1;
  @include flex($direction: column, $justify: center, $align: center);
}

.timer {
  position: absolute;
  top: 0;
}

.main__header {
  margin-top: 0;
}

.game__levels {
  position: relative;
}

.hidden {
  display: none;
}

.level {
  cursor: pointer;
  @include font($size: 2rem, $height: 3.648rem, $spacing: 0.384rem);
}

.level:hover {
  @include font($size: 3rem);
  text-decoration: underline;
}

.game__mode {
  position: absolute;
  top: 0;
}
