@use "../abstracts/index" as *;

.game {
  margin-top: 5px;
  width: 100%;
  flex-grow: 1;
  @include flex($gap: 20px);
  @include media-small-device {
    @include flex($direction: column);
  }
}

.game__left,
.game__buttons {
  width: 25%;
  @include flex($direction: column, $justify: center, $align: center);
  @include media-small-device {
    width: 100%;
  }
}

.game__main {
  position: relative;
  flex-grow: 1;
  @include flex($direction: column, $justify: center, $align: center);
}

.levels,
.left__buttons {
  @include media-small-device {
    @include flex($justify: center, $align: center, $gap: 10px);
  }
}

.main__header {
  margin-top: 0;
}

.game__left {
  position: relative;
}

.hidden {
  display: none;
}

.level {
  cursor: pointer;
}

.level:hover {
  @include font($size: 2.5rem);
  text-decoration: underline;
}

.game__mode,
.timer {
  position: absolute;
  top: 0;
  @include media-small-device {
    position: relative;
  }
}

.copyright {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
