@use "../abstracts/index" as *;

.nonogram {
  @include grid($cell-size-l);
  @include media-small-device {
    @include grid($cell-size-s);
  }
}

.cell,
.empty-cell,
.clue {
  aspect-ratio: 1 / 1;
  @include flex($justify: center, $align: center);
  font-weight: bold;
}

.right-border {
  border-right: 1px solid black;
}

.top-border {
  border-top: 1px solid black;
}

.left-border {
  border-left: 1px solid black;
}
