@use "../abstracts/index" as *;

.nonogram {
  @include grid($cell-size-l);
  @include media-small-device {
    @include grid($cell-size-s);
  }
}

.cell,
.empty-cell,
.clue {
  aspect-ratio: 1 / 1;
  font-weight: bold;
}

.cell {
  position: relative;
}

.clue {
  background-color: rgba(255, 217, 0, 0.236);
  @include flex($justify: center, $align: center);
}

.picture-name {
  @include flex($justify: center, $align: center);
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.picture-name:hover {
  color: rgb(255, 215, 0);
}

.crossed::before,
.crossed::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 141.42%;
  height: 1px;
  background-color: black;
  transition: opacity 0.3s ease;
}

.crossed::before,
.crossed::after {
  opacity: 1;
}

.crossed::before {
  transform: translate(-50%, 0) rotate(45deg);
}

.crossed::after {
  transform: translate(-50%, 0) rotate(-45deg);
}
