$content-width: 1440px;
$cell-size-l: calc(min(65vh, 45vw) / var(--cells-number));
$cell-size-s: calc(min(80vh, 90vw) / var(--cells-number));
$break-point: 820px;
$divider-border: 2px solid black;
$divider-border-light: 2px solid rgb(255, 255, 255);
