@use "../base/typography";
@use "../abstracts/index" as *;

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.app {
  background-image: url(../img/question.svg), url(../img/heart.svg),
    url(../img/flower.svg), url(../img/star.svg), url(../img/lines.svg),
    url(../img/cat.svg), url(../img/grid.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat, repeat;
  background-size: 40px 40px, 50px 50px, 30px 30px, 40px 40px, 80px 80px,
    80px 80px, contain;
  background-position: 10% 5%, 15% 30%, 85% 10%, 20% 90%, 80% 40%, 90% 80%,
    center;
  @extend %font-primary;
  @include font($size: 1.6rem, $weight: normal, $transform: none);
  min-height: 100vh;
  margin: auto;
  display: flex;
  color: black;
  background-color: white;
}

.dark-mode {
  background-image: url(../img/question.svg), url(../img/heart.svg),
    url(../img/flower.svg), url(../img/star.svg), url(../img/lines.svg),
    url(../img/cat.svg), none;
  color: white;
  background-color: rgb(20, 20, 20);
  .cell,
  .clue {
    @extend %cell-border-light;
  }
  .clue {
    color: black;
    background-color: #ffe23e;
  }
  .cell {
    background-color: rgb(20, 20, 20);
  }
  .right-border {
    border-right: $divider-border-light;
  }
  .top-border {
    border-top: $divider-border-light;
  }
  .left-border {
    border-left: $divider-border-light;
  }
  .bottom-border {
    border-bottom: $divider-border-light;
  }

  .filled,
  .line {
    background-color: white;
  }

  .btn {
    box-shadow: rgba(179, 179, 179, 0.2) 15px 28px 25px -18px;
    background-color: rgb(20, 20, 20);
    border-color: #ffffff;
    color: #ffffff;
  }
  .btn--game-action {
    background-color: #ffe23e;
    color: black;
  }

  .btn--game-action:disabled {
    color: rgb(87, 87, 87);
  }

  .picture-name {
    color: white;
  }

  .crossed::before,
  .crossed::after {
    background-color: rgb(255, 255, 255);
  }
  .gh__link {
    color: white;
  }
  .modal {
    background-color: rgb(20, 20, 20);
    background-image: none;
    color: white;
  }
}

h1,
h2 {
  margin: 0;
}

h1 {
  @include font($size: 3.2rem, $height: 4.8rem, $spacing: 0.576rem);
  color: rgb(255, 215, 0);
}

.level,
h2,
.picture-name,
.win__message {
  @include font($size: 2rem, $height: 3.648rem, $spacing: 0.384rem);
  @include media-small-device {
    @include font($size: 1.5rem, $height: 3.648rem, $spacing: 0.1rem);
  }
}

.btn {
  @include font($size: 1.5rem, $height: 1rem, $spacing: 0.2rem);
}

.timer,
.main__header {
  @include font($size: 2rem);
  margin-bottom: 5px;
}

h2,
.picture-name {
  color: rgb(255, 215, 0);
}
