.settings__sound {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 100px;
  background-color: rgb(20, 20, 20);
}

.icon--on {
  background-image: url(../img/icons/sound-on.svg);
  background-size: contain;
}

.icon--off {
  background-image: url(../img/icons/sound-off.svg);
  background-size: contain;
}
